@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=MonteCarlo&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Vollkorn:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.layout_row {
  display: flex;
}

.layout_row .layout_sidebar {
  width: 335px;
  height: 100vh;
  position: relative;
}

.layout_row .layout_routes {
  width: 75%;
}

.option_modal {
  width: 75%;
  background-color: white;
  position: absolute;
  bottom: 10%;
  left: -100%;
  transition: .1s;
  box-shadow: 0 0 5px #eee;
  
}

.option_modal.active {
  left: 10%;
}

.option_modal ul {
  display: flex;
  flex-direction: column;
}

.option_modal ul li {
  padding: 12px 5px;
  cursor: pointer;
  border-bottom: 1px solid #c5c2c2;
}

.option_modal ul li a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_modal ul li a svg {
  font-size: 25px;
}